aside{
  width: 250px;
  height: 100%;
  background-color: #1e293b;
  display: flex; flex-direction: column;
  align-items: center;
  padding-top: 10px;
  overflow: hidden;
  gap: 20px;
  overflow-y: scroll;
}
section{
  color: white;
  box-sizing: border-box;
  display: flex; flex-direction: column;
  width: 100%;
  gap: 20px;
}
p{
  margin-left: 20px;
}
div{
  width: 90%;
  border-top: 1px solid rgba(255, 255, 255, 0.144);
}