<aside>
  <section>
    <p>Gestion</p>
    <aside-menu-button>
      <stack-icon></stack-icon>
      Gestionar
    </aside-menu-button>
  </section>
  <div></div>
  <section>
    <p>Usuarios</p>
    <aside-menu-button>
      <schoolhat-icon></schoolhat-icon>
      Alumnos
    </aside-menu-button>
    <aside-menu-button>
      <briefcase-icon></briefcase-icon>
      Docentes
    </aside-menu-button>
  </section>
  <div></div>
  <section>
    <p>Agregar</p>
    <aside-menu-button>
      <add-icon></add-icon>
      Preguntas
    </aside-menu-button>
  </section>
</aside>