main{
  width: 100%;
  height: 100%;
}
.layout{
  display: inline-flex;
  height: 100%;
  width: 100%;

}

table,th,td{
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;

}

th{
  font-weight: bolder;
}

.main-content-section{
  display: flex; flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 100px;
  gap: 60px;
}