button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 5px;
  font-size: medium;
  transition: background-color 0.5s;
  padding-bottom: 5px;
  padding-top: 5px;
}
button:hover{
  background-color: #26334a;
}

:host{
  display: block;
  text-align: center;
  width: 100%;
  
}